/* container 1 */

*{
  margin: 0px;
  padding: 0px;
}
section {
   position: absolute;
   width: 100%;
   justify-content: center;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

nav #first{
  display: flex;
  flex: 2;
  margin-left: 20px;
  list-style: none;
}
nav #first li{
  margin-left: 30px;
}

nav img.ham{
  display: none;
}

nav #nv{
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: space-evenly;
}

nav #first li a, #nv li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.main {
   display: flex;
}

.box1{
  margin-top: 10%;
}

.box1 h1 {
   font-family: BN Chester Pro;
   font-size: 66px;
   font-weight: 400;
   line-height: 64px;
   text-align: left;
   margin: 50px 0px 40px 60px;
}

.box1 p {
   margin-left: 60px;
   font-family: Gilroy;
   font-size: 16px;
   font-weight: 400;
   line-height: 27px;
   letter-spacing: 0em;
   text-align: left;
   margin-bottom: 10%;
}
.box2 {
   margin-top: -90px;
}
.responsive{
 margin-left: 710px;
 height: 100%;
}
.button1{
  padding: 12px 30px;
  text-align: center;
  background-color: white;
  border: 2px solid #D3A265;
  border-radius: 12px ;
  margin-left: 60px;
  margin-bottom: 20px;
}

/* box 2 */

.main2{
  width: 100%;
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color:  #F4F4F4; 
  align-items: center;
}
.main2 h2{
  font-family: BN Chester Pro;
  font-size: 40px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.005em; 
}
.main2 p{
  width: 100%;
  max-width: 500px;
}
.orange{
  color: #D3A265;
}

/* box 3 */

.main3{
  width: 100%;
  padding: 70px 0;
}

.main3 .box3 .card1 img{
  width: 75px;
  height: 75px;
}
.main3 .box3 .card1 h6, .main3 .box3 .card1 p {
  line-height: 30px;
}


.box3{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.card1{
 margin: 5px;
}
.card1 p{
  color:#8D8D8D;
}

/* Box-4 */

.main4{
  width: 100%;
  background-color: #F4F4F4;
  padding: 70px 0;
}
.cmn{
  width: 100%;
  margin-top: 20px;
}
.cmn h2{
  font-family: BN Chester Pro;
  font-size: 40px;
  font-weight: 400;
  text-align: center; 
  padding-bottom: 20px;
}

.portfolio{
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  padding: 20px 0;
}
.main4 #all{
  display: flex;
  flex: 2;
  list-style: none;
  justify-content: space-around;
}
/* .main4 #all li{
  margin-left: 30%;
} */

.main4 #view{
  display: flex;
  list-style: none;
  text-decoration: underline;
  /* margin-right: 100px; */
  flex: 1;
  justify-content: end;
  margin-right: 5%;
}

.ig{
  padding: 10px;
  margin-bottom: 10px;
  /* display: flex; */

}

.ig img{
  max-width: 100%;
  width: 370px;
  height: 370px;
  
}
.gallery1, .gallery2{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;

}

/* Box-5 */

.main5{
  width: 100%;
  padding: 70px 0;
}

.main5 .bx{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 30px;
}

.main5 .bx .bx1 h2,.main5 .bx .bx1 h1,.main5 .bx .bx1 h4, .main5 .bx .bx2 h2,.main5 .bx .bx2 h1,.main5 .bx .bx2 h4{
  line-height: 50px;
}

.main5 .bx .bx1 p, .main5 .bx .bx2 p{
 line-height: 30px;
}

.main5 .bx .bx1,  .main5 .bx .bx2 {
  border: 2px solid #D3A265;
  border-radius: 10px;
  padding: 40px;
}

.main5 .bx1 hr{
 border: 1px solid #D3A265;
}

.main5 .bx2 hr{
  border: 1px solid white;
}

.main5 .bx .bx2{
  border: 2px solid #D3A265;
  background-color: #D3A265;
  color: #F4F4F4;
}
.button{
  padding: 12px 30px;
  text-align: center;
  background-color: white;
  border: 2px solid #D3A265;
  border-radius: 12px ;
  margin-left: 60px;
  margin-bottom: 20px;
}
.main5 .bx{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 30px;
}

.main5 .bx .bx1 .button,  .main5 .bx .bx2 .button{
  margin: 20px 0;
}

/* Box-6 */

.main6{
  width: 100%;
  padding: 70px 0;
  background-color:#F4F4F4;
}

.symbol{
  display: flex;
  justify-content: space-evenly;
}

.main-symbol{
  background-color: white;
  width: 40%;
}
.symbol1{
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

.detail-info{
  padding: 0 30px 30px 30px;
}

.main6 hr{
  position: relative;
  top: 25%;
}

.main6 .main-symbol .detail img{
  margin-top: 25px;

}
.main6 .symbol1 img{
  z-index: 1;  
}
.main6 .dot{
  text-align: center;
  margin-top: 30px;
}

/* Box-7 */

.main7{
  width: 100%;
  padding: 60px 0;
}

.content{
  display: flex;
  justify-content: space-evenly;
}

/* box-8 */

.main8{
  width: 100%;
  background-color: #F4F4F4;
  /* padding: 20px; */
}

.information{
  display: flex;
  justify-content: space-around;
}

.main8 .studio{
  padding-top: 20px;
}
.main8 .studio p{
  padding-top: 30px;
 
}

.main8 .nv p{
  line-height: 30px;
}

.main8 .nv h4{
  line-height: 50px;
}

.main8 .nv img{
  margin-top: 30px;
}

.main8 .contacts p{
  margin-bottom: 30px;
}

.main8 .contacts h5{
  line-height: 40px;
  margin-bottom: 20px;
}
.info8{
  display: flex;
  flex-direction: row;
  flex: 2;
justify-content: space-evenly;
}
.nv{
  text-align: center;
}






/* 862px query


/* box 1 */

@media only screen and (max-width: 862px){
  .responsive {
      width: 450px;
      height: 100%;
      margin-left: 50px;
    }
    .box1 h1{
      font-size: 33px;
    }


/*box 4*/

  .main4{
    width:auto;

  }
  .portfolio {
    justify-content: space-evenly;
  }
  .portfolio ul#all li{
    margin-left: 0px;
    /* justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    gap:10px;
  }
  .gallery1{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
  }
.gallery2{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

}
/*box-5*/
.bx{
  display: flex;
  gap: 10px;
}

/* Tablate screen */


 @media only screen and (max-width: 670px) {

  /* Box-1 */

  .main {
     flex-direction: column;
     align-items: center;
  }

  .main .box1 .button {
     padding: 20px 188px;
  }

  .main .box2 {
     margin-top: 30px;
  }

  .main4 #view {
     display: none;
  }
.responsive{
  margin-left: 5px;
  width: 98%;
}
nav #first{
  margin-left: 0px;
}
nav #nv{
  margin-left: 0px;
}


/*main 4*/
  .main4 #view2 {
     display: block;
     text-align: center;
     text-decoration: 2px solid #D3A265 underline;
  }
  .main4 #all li{
    margin-left: 15%;
  }
  
.gallery1{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap:10px;
}
.gallery2{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap:10px;
}

/*box-2*/
.main2{
  display: flex;
  flex-direction: column;
  gap:50px;
}
/*box-5*/

.main5 .bx{
  gap:10px;
}
/*box 6*/

.main6{
  display: flex;
  flex-direction: column;
}
.symbol{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main-symbol{
  width: 100%;
}
 }

 @media only screen and (max-width: 400px){
  /*box-1*/
  nav img.ham{
    display: block;
    margin-left: 200px;
    margin-right: 100px;
  }

  nav ul#first, nav ul#nv{
    display: none;
  }
  nav img{
    margin-left: 10px;
  }
  .responsive{
    width: 100%;
    height: auto;
  }
  .box1 h1{
    text-align: center;
  }
.button1{
  width: 200px;
  height: 50px;
  margin-left: 100px;
  border-radius: 50px;
}
  .box1 p{
    text-align: center;
  }

  /*box 2*/
  .left{
    margin-left: 0px;
  }
  .right{
    text-align: center;
  }
/*box-3*/
.box3{
  display: flex;
  flex-direction: column;
}


/*box-4*/
.main4 #all li{
  margin-left: 3%;
}
.gallery2{
  display: none;
}
.ig .gallery1 img#galleryimg{
  display: none;
}

/*box 5*/
.bx{
  display: flex;
  flex-direction: column;
}

/*box7*/

.content{
  display: flex;
  flex-direction: column;
}

.content h2{
text-align: center;
margin-bottom: 20px;
}
.button{
  margin-left: 15px;
}

/*BOX-8*/

.studio p{ 
  display: none;
}
.nv h4{
  display: none;
}
.nv p{
  display: none;
}
.information{
  display: flex;
  flex-direction: column;
}
.info8{
  display: flex;
  flex-direction: row;
}
.nv img#socialid{
  margin-left: 30px;
  margin-top: 18px;
}
 }